# Python Lists:

- A Python list is an ordered collection of items, which can store different data types such as integers, strings, floats,or even other lists.

- Lists are mutable, meaning you can change their contents (add, remove, or modify items) after they are created.

### - Here are simpler examples of Python lists with different data types

In [3]:
# 1. List of integers
int_list = [1, 2, 3]

# 2. List of floats
float_list = [1.1, 2.2, 3.3]

# 3. List of strings
string_list = ["cat", "dog", "bird"]

# 4. List of booleans
bool_list = [True, False, True]

# 5. Mixed types (integer, string, float)
mixed_list = [5, "apple", 3.5]

# 6. List of lists
nested_list = [[1, 2], [3, 4]]

# 7. List of tuples
tuple_list = [(1, 2), (3, 4)]

# 8. List of dictionaries
dict_list = [{"a": 1}, {"b": 2}]

# Characterstics of list

- Ordered: Lists maintain the order of elements as they are added.
Example: my_list = [1, 2, 3] will always keep the elements in this order.

- Mutable: Lists can be changed after creation (you can add, remove, or modify elements).
Example: my_list[0] = 10 changes the first element to 10.

- Indexed: Each element in a list has an index, starting from 0.
Example: my_list[1] gives the second element in the list.

- Heterogeneous: Lists can store different data types together.
Example: my_list = [1, "apple", 3.5] has an integer, string, and float.

- Dynamic size: Lists can grow or shrink in size as elements are added or removed.
Example: my_list.append(4) adds a new element to the list

# List elements

List elements are the individual items or values that are stored within a list in Python. A list is a collection of these elements, and each element can be of any data type, such as integers, strings, floats, or even other lists.

# Access List Elements

In Python, you can access elements of a list using indexing, slicing, and negative indexing. Here’s how you can do it:

# Indexing
You access a specific element in a list by its index (position).

Index starts at 0: The first item is at index 0, the second at index 1, and so on.

## Positive Index
- Positive indexing starts from the beginning of the list, with the first element at index 0, the second element at index 1, and so on.
- Positive indexing counts from the start (0, 1, 2...)

In [5]:
my_list = [10, 20, 30, 40, 50]
print(my_list[-1])  # Output: 50 (last element)
print(my_list[-2])  # Output: 40 (second last element)

50
40

## Negative Index
- Negative indexing starts from the end of the list, with the last element at index -1, the second last element at index -2, and so on.
- Negative indexing counts from the end (-1, -2, -3...).

In [8]:
my_list = [100, 200, 300, 400, 500]
print(my_list[-1])  # Output: 500 (last element)
print(my_list[-2])  # Output: 400 (second last element)

500
400

### Examples of indexing

In [10]:

my_list = ["apple", "banana", "cherry", "tomato", "pumkin"]

print(my_list[0])  
print(my_list[1])  
print(my_list[2])  
print(my_list[3])  
print(my_list[4])  


my_list = ["orange", "banana", "cherry", "dates", "blueberry"]

print(my_list[-1])  # Last element
print(my_list[-2])  # Second last element
print(my_list[-3])  # Third last element
print(my_list[-4])  # Fourth last element
print(my_list[-5])  # Fifth last element

apple
banana
cherry
tomato
pumkin
blueberry
dates
cherry
banana
orange

In [11]:
list3 = [1, 2, 3, 4, 5]
print(list3[0])  

list5 = ['Cat', 'Dog', 'Fish', 'Bird', 'Hamster']
print(list5[3])  

list9 = ['Apple', 'Banana', 'Cherry', 'Date', 'Elderberry']
print(list9[2])  

list2 = [1.1, 'World', 4.75, [1, 2, 3]]
print(list2[2])  # Output: 4.75

list1 = [5 + 6j, 2.3, 'Hello', True]
print(list1[-1])  # Output: True

1
Bird
Cherry
4.75
True

# Slicing

Slicing in Python is a technique used to access a subset of elements from a list.

Slicing is a way to get a part of a list (or string) in Python. It’s like cutting a section out of the list and creating a new list with just that part.

How Slicing Works:For instance,you have a list of items

- my_list = [10, 20, 30, 40, 50]

To slice this list, you use the format:
- my_list [start:end]

## Examples of slicing

In [16]:


# Example 1: Slicing with Complex Numbers
list1 = [(1+2j), (3+4j), (5+6j)]
print("Example 1:", list1[1:])  

# Example 2: Slicing with Booleans
list2 = [True, False, True, False]
print("Example 2:", list2[2:])  

# Example 3: Slicing with Strings
list3 = ["apple", "banana", "cherry", "date"]
print("Example 3:", list3[:2]) 

# Example 4: Slicing with Integers
list4 = [10, 20, 30, 40, 50]
print("Example 4:", list4[1:4])  

# Example 5: Slicing with Mixed Types
list5 = [1, "hello", 3.5, True]
print("Example 5:", list5[1:3])  

# Example 6: Slicing with Float Numbers
list6 = [1.1, 2.2, 3.3, 4.4, 5.5]
print("Example 6:", list6[::2])

# Example 7: Reversing a List
list7 = [1, 2, 3, 4, 5]
print("Example 7:", list7[::-1])

# Example 8: Slicing with Empty Result
list8 = [1, 2, 3, 4, 5]
print("Example 8:", list8[5:10])  

# Example 9: Slicing with Negative Indices
list9 = [100, 200, 300, 400, 500]
print("Example 9:", list9[-4:-1])  

# Example 10: Slicing with Steps
list10 = [10, 20, 30, 40, 50]
print("Example 10:", list10[::2])

Example 1: [(3+4j), (5+6j)]
Example 2: [True, False]
Example 3: ['apple', 'banana']
Example 4: [20, 30, 40]
Example 5: ['hello', 3.5]
Example 6: [1.1, 3.3, 5.5]
Example 7: [5, 4, 3, 2, 1]
Example 8: []
Example 9: [200, 300, 400]
Example 10: [10, 30, 50]

# Creating list of 20 elements: (10 elements as positive index and other 10 as negative index)

### 10 positive index elements

In [21]:
numbers = [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

print(numbers[19])
print(numbers[18])
print(numbers[17])
print(numbers[16])
print(numbers[15])
print(numbers[14])
print(numbers[13])
print(numbers[12])
print(numbers[11])
print(numbers[10])

40
39
38
37
36
35
34
33
32
31

### 10 negative index elements

In [20]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

print(numbers[-1])  
print(numbers[-2])  
print(numbers[-3])  
print(numbers[-4])  
print(numbers[-5])  
print(numbers[-6])
print(numbers[-7])  
print(numbers[-8]) 
print(numbers[-9])  
print(numbers[-10])

20
19
18
17
16
15
14
13
12
11

# List Operations

List operations in Python allow you to manipulate and interact with lists in various ways.

# Concatenation
- Concatenation is the process of joining two or more lists to form a single list.
-  Use the + operator to concatenate lists.
-  Concatenation joins lists together.

In [22]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
result = list1 + list2  # [1, 2, 3, 4, 5, 6]

## Examples:

In [24]:
a = [100, 120, 130]
b = [40, 15, 61]
c=print(a+b)

[100, 120, 130, 40, 15, 61]

In [26]:
fruits = ["apple", 1, True]
vegetables = [2, "banana", False]
items = fruits + vegetables
print(items)

numbers1 = [5, 6, 7]
numbers2 = [8, 9, 10]
combined_numbers = numbers1 + numbers2
print(combined_numbers)

vehicles1 = ["car", "bike"]
vehicles2 = ["bus", "train"]
transport = vehicles1 + vehicles2
print(transport)

decimals1 = [0.1, 0.2, 0.3]
decimals2 = [0.4, 0.5]
decimal_result = decimals1 + decimals2
print(decimal_result)

letters1 = ["a", "b"]
letters2 = ["c", "d"]
alphabet = letters1 + letters2
print(alphabet)

booleans1 = [True, False]
booleans2 = [False, True]
truth_values = booleans1 + booleans2
print(truth_values)

data1 = [1, 2, 3]
data2 = ["x", "y", "z"]
mixed_data = data1 + data2
print(mixed_data)

prices1 = [100, 200, 300]
prices2 = [400, 500]
price_list = prices1 + prices2
print(price_list)

colors1 = ["red", "blue"]
colors2 = ["green", "yellow"]
color_palette = colors1 + colors2
print(color_palette)

weights1 = [2.2, 3.3]
weights2 = [4.4, 5.5]
weight_data = weights1 + weights2
print(weight_data)

pets1 = ["dog", "cat"]
pets2 = ["mouse", "elephant"]
animals = pets1 + pets2
print(animals)

digits1 = [7, 8, 9]
digits2 = [10, 11, 12]
digit_result = digits1 + digits2
print(digit_result)

stationery1 = ["pen", "pencil"]
stationery2 = ["eraser", "sharpener"]
school_supplies = stationery1 + stationery2
print(school_supplies)

courses1 = ["math", "science"]
courses2 = ["history", "geography"]
subject_list = courses1 + courses2
print(subject_list)

tools1 = ["hammer", "wrench"]
tools2 = ["screwdriver", "pliers"]
toolkit = tools1 + tools2
print(toolkit)

countries1 = ["USA", "UK"]
countries2 = ["Canada", "Australia"]
countries = countries1 + countries2
print(countries)

gadgets1 = ["phone", "tablet"]
gadgets2 = ["laptop", "smartwatch"]
devices = gadgets1 + gadgets2
print(devices)

food1 = ["bread", "butter"]
food2 = ["jam", "cheese"]
breakfast = food1 + food2
print(breakfast)

teams1 = ["teamA", "teamB"]
teams2 = ["teamC", "teamD"]
all_teams = teams1 + teams2
print(all_teams)

hobbies1 = ["reading", "painting"]
hobbies2 = ["gaming", "dancing"]
activities = hobbies1 + hobbies2
print(activities)

['apple', 1, True, 2, 'banana', False]
[5, 6, 7, 8, 9, 10]
['car', 'bike', 'bus', 'train']
[0.1, 0.2, 0.3, 0.4, 0.5]
['a', 'b', 'c', 'd']
[True, False, False, True]
[1, 2, 3, 'x', 'y', 'z']
[100, 200, 300, 400, 500]
['red', 'blue', 'green', 'yellow']
[2.2, 3.3, 4.4, 5.5]
['dog', 'cat', 'mouse', 'elephant']
[7, 8, 9, 10, 11, 12]
['pen', 'pencil', 'eraser', 'sharpener']
['math', 'science', 'history', 'geography']
['hammer', 'wrench', 'screwdriver', 'pliers']
['USA', 'UK', 'Canada', 'Australia']
['phone', 'tablet', 'laptop', 'smartwatch']
['bread', 'butter', 'jam', 'cheese']
['teamA', 'teamB', 'teamC', 'teamD']
['reading', 'painting', 'gaming', 'dancing']

# Repetition
- Repetition involves repeating the elements of a list a specified number of times.
- Use the * operator to repeat the list.
- Repetition duplicates the list's elements.

In [27]:
list1 = [1, 2, 3]
result = list1 * 3  # [1, 2, 3, 1, 2, 3, 1, 2, 3]

## Examples:

In [28]:
x = [2, 56, 789, 34, 98]
result1 = x * 3
print(result1)

letters = ["a", "b", "c", "d", "e"]
result2 = letters * 2
print(result2)

y = [3, 7, 1, 9]
result3 = y * 4
print(result3)

mixed_list = [4, "world", 2.71, False]
result4 = mixed_list * 3
print(result4)

z = [10, 20, 30]
result5 = z * 5
print(result5)

colors = ["red", "green", "blue"]
result6 = colors * 4
print(result6)

numbers = [5, 10, 15]
result7 = numbers * 6
print(result7)

shapes = ["circle", "square", "triangle"]
result8 = shapes * 2
print(result8)

n = [6, 12, 18, 24]
result9 = n * 3
print(result9)

animals = ["dog", "cat", "rabbit"]
result10 = animals * 4
print(result10)

[2, 56, 789, 34, 98, 2, 56, 789, 34, 98, 2, 56, 789, 34, 98]
['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
[3, 7, 1, 9, 3, 7, 1, 9, 3, 7, 1, 9, 3, 7, 1, 9]
[4, 'world', 2.71, False, 4, 'world', 2.71, False, 4, 'world', 2.71, False]
[10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30]
['red', 'green', 'blue', 'red', 'green', 'blue', 'red', 'green', 'blue', 'red', 'green', 'blue']
[5, 10, 15, 5, 10, 15, 5, 10, 15, 5, 10, 15, 5, 10, 15, 5, 10, 15]
['circle', 'square', 'triangle', 'circle', 'square', 'triangle']
[6, 12, 18, 24, 6, 12, 18, 24, 6, 12, 18, 24]
['dog', 'cat', 'rabbit', 'dog', 'cat', 'rabbit', 'dog', 'cat', 'rabbit', 'dog', 'cat', 'rabbit']

In [29]:
a = [9, 3, 7]
result11 = a * 3
print(result11)

fruits = ["orange", "apple", "grape"]
result12 = fruits * 2
print(result12)

grades = ["A", "B", "C"]
result13 = grades * 4
print(result13)

prices = [100, 200, 300]
result14 = prices * 5
print(result14)

b = [8, 16, 24, 32]
result15 = b * 3
print(result15)

vehicles = ["bike", "scooter"]
result16 = vehicles * 2
print(result16)

moods = ["happy", "sad"]
result17 = moods * 3
print(result17)

digits = [2, 4, 6, 8]
result18 = digits * 4
print(result18)

alphabets = ["x", "y", "z"]
result19 = alphabets * 5
print(result19)

flowers = ["rose", "lily"]
result20 = flowers * 6
print(result20)

[9, 3, 7, 9, 3, 7, 9, 3, 7]
['orange', 'apple', 'grape', 'orange', 'apple', 'grape']
['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']
[100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300, 100, 200, 300]
[8, 16, 24, 32, 8, 16, 24, 32, 8, 16, 24, 32]
['bike', 'scooter', 'bike', 'scooter']
['happy', 'sad', 'happy', 'sad', 'happy', 'sad']
[2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]
['x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z']
['rose', 'lily', 'rose', 'lily', 'rose', 'lily', 'rose', 'lily', 'rose', 'lily', 'rose', 'lily']